
html {
	font-family: 'Roboto', sans-serif;
}
.icons-social i {
	font-size: 2.5em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0 30px;
	text-align: center;
}

.event-img-div{
	padding-top: 10px;
	padding-right:1%;
	padding-left: 1%;
	padding-bottom: 20px;
}

.intro {
	text-align: left;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3rem;
	padding-top :10px;
	padding-bottom: 3.5%;
	font-weight: 300;
}

.img-and-icon{
	padding-left:10%;
}
.tagline {
	text-align: left;
	padding-top: 20%;
	padding-left:40px;
	padding-right:5px;
	font-size: 1.2rem;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
	font-size: 2.5rem;
}

.back{
	padding:0px 10px;
	font-size:1.5rem;
	color:white;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

html {
	font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 15px;
	}
	.tagline{
		font-size: 1rem;
	}
}

@media screen and (max-width: 992px) {
	html {
		font-size: 12px;
	}
	.tagline{
		font-size:12px;
		padding-left: 30px;
	}
}


@media screen and (max-width: 768px) {
	html {
		font-size: 10px;
	}
	.tagline{
		font-size:11px;
		padding-left: 30px;
		padding-top:30px;
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 340px) {
	html {
		
	}
	.tagline{
		padding-left: 15%;
		font-size:0.8rem;
		padding-top:30px;
		padding-bottom: 30px; 
		padding-right: 0px;
	}
	.intro{
		font-size:25px;
	}
	.icons-social i{
		font-size: 1rem;
	}
	.back{
		font-size: 1rem;
	}
}

